.experience
    .experience__inner 
        .experience__title
            | Опыт работы
        .experience__list 
            .experience__item
                .experience__date
                    | Июль 2019
                .experience__position
                    .experience__position-str
                        | Freelance Designer
                    .experience__position-img
                        img(src=`${baseDir}images/sprites/svg/rhombus-violet.svg` alt="")
                        img(src=`${baseDir}images/sprites/svg/rhombus-yellow.svg` alt="")
                        img(src=`${baseDir}images/sprites/svg/rhombus-bluish.svg` alt="")
                .experience__company
                    .experience__company-info
                        | Independent Netherlands, Worldwide
                .experience__text
                    p Available for a project or job in UX/UI, Visual and Product design.
                .experience__links
                    a(href="#") Commercial tryouts
                    br
                    a(href="#") Personal projects
        
            .experience__item
                .experience__date
                    | Январь 2017 - Сентябрь 2018
                .experience__position
                    .experience__position-str
                        | Digital Designer
                    .experience__position-img
                        img(src=`${baseDir}images/sprites/svg/rhombus-bluish.svg` alt="")
                        img(src=`${baseDir}images/sprites/svg/rhombus-pink.svg` alt="")
                .experience__company
                    picture
                        source(srcset=`${baseDir}images/logo1.png, ${baseDir}images/logo1@2x.png 2x`)
                        img(src=`${baseDir}images/logo1.png` alt="")
                    div
                        span.experience__company-name
                            | J Creative Solutions
                        span.experience__company-info
                            | Digital agency in Minsk, Belarus
                .experience__text
                    p 
                        | Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations
                        | for clients and indoor purposes.
                .experience__links
                    a(href="#") Agency projects
        
        
            .experience__item
                .experience__date
                    | Март 2014 - Февраль 2017
                .experience__position
                    .experience__position-str
                        | SEO Specialist → Lead SEO Specialist
                    .experience__position-img
                        img(src=`${baseDir}images/sprites/svg/rhombus-orange.svg` alt="")
                        img(src=`${baseDir}images/sprites/svg/rhombus-bluish.svg` alt="")
                .experience__company
                    picture
                        source(srcset=`${baseDir}images/logo2.png, ${baseDir}images/logo2@2x.png 2x`)
                        img(src="" alt="")
                    div
                        span.experience__company-name
                            | OZ.by
                        span.experience__company-info
                            | Online bookstore in Minsk, Belarus
                .experience__text
                    p 
                        | Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team,
                        | I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.
                .experience__links
                    a(href="#") Annual company report 2016
            
        
            .experience__item
                .experience__date
                    | Август 2012 - Ноябрь 2013
                .experience__position
                    .experience__position-str
                        | Content Specialist
                    .experience__position-img
                        img(src=`${baseDir}images/sprites/svg/rhombus-orange.svg` alt="")
                .experience__company
                    picture
                        source(srcset=`${baseDir}images/logo3.png, ${baseDir}images/logo3@2x.png 2x`)
                        img(src="" alt="")
                    div
                        span.experience__company-name
                            | 21vek.by
                        span.experience__company-info
                            | E-commerce store in Minsk, Belarus
                .experience__text
                    p 
                        | Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations
                        | for clients and indoor purposes.
                .experience__links
            
        
            .experience__item
                .experience__date
                    | Август 2011 - Ноябрь 2014
                .experience__position
                    .experience__position-str
                        | Software Support Engineer
                    .experience__position-img
                        img(src=`${baseDir}images/sprites/svg/rhombus-green.svg` alt="")
                .experience__company
                    picture
                        source(srcset=`${baseDir}images/logo4.png, ${baseDir}images/logo4@2x.png 2x`)
                        img(src="" alt="")
                    div
                        span.experience__company-name
                            | Integral
                        span.experience__company-info
                            | Microelectronics factory in Minsk, Belarus
                .experience__text
                    p 
                        | Supported retail accounting system LS Trade, troubleshoot technical problems.
                .experience__links